In [8]:
import numpy as np
import pandas as pd
import math
# from scipy.stats import ttest_ind, norm
from scipy.stats import ttest_1samp

In [9]:
root = pd.read_csv(r'C:\Users\basil\OneDrive\Escritorio\Ironhack\labs\lab-inferential-statistics\files_for_lab\principal_component_analysis_example\breast-cancer.csv')
df_original = root
df_original.head(5)

,119513,N,31,18.02,27.6,117.5,1013,0.09489,0.1036,0.1086,...,139.7,1436,0.1195,0.1926,0.314,0.117,0.2677,0.08113,5,5.1
0,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
1,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
2,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
3,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0
4,843786,R,77,12.75,15.29,84.60,502.7,0.11890,0.1569,0.1664,...,107.30,733.2,0.1706,0.4196,0.5999,0.1709,0.3485,0.11790,2.5,0

In [10]:
# 1- It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. In the Honolulu Heart Study, a sample of 
  # n = 100 peoplehad an average systolic blood pressure of 130.1 mm Hg with a standard deviation of 21.21 mm Hg. 
  # Is the group significantly
  # different (with respect to systolic blood pressure!) from the regular population?

In [11]:
# 1.1 Set up the hypothesis test.
# 1.2 Write down all the steps followed for setting up the test.
# 1.3 Calculate the test statistic by hand and also code it in Python. It should be 4.76190.
  #We will take a look at how to make decisions based on this calculated value.

In [12]:
print("""
STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120 
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision
""")

STEP 1- Define the null hypothesis (H0): μ = 120
STEP 2- Define the alternate hypotesis: Ha): μ != 120
STEP 3- Define significancy level: a = 0.05
STEP 4- Do the T staticstics with 1 or 2 tails (in this case 1 tail)
STEP 5- Create the critical region
STEP 6- Make a decision

In [24]:
import numpy as np
from scipy.stats import norm

systolic_blood_pressure_world_mean = 120
sample_size = 100
systolic_blood_pressure_mean = 130.1
systolic_blood_pressure_std = 21.21
a = 0.05

# Generate the sample
generated_sample = norm.rvs(loc=systolic_blood_pressure_mean, scale=systolic_blood_pressure_std, size=sample_size)

# Display the generated sample
print(generated_sample)

[119.42918987 131.09199205  96.51309282 159.18493515 114.33135454
 110.30632749 124.58576351 145.8984727  117.28102046 157.09335654
 170.70121714 138.71157753 146.08263467 164.43512063 114.43065024
 126.62883507 139.70798304 111.54064627 135.17213352 147.34290691
 121.17405626 132.92392156 113.85454224 138.35136857 126.39146016
 100.09331865 111.83926818 151.29552149 116.13448502 170.18079067
 124.95749123 134.08696552 140.54825742 135.32100952 107.48346852
 128.68059393 177.7218059  176.03655033 126.93103828 112.14987947
 143.19848074 159.5357404  152.46738642 115.17614938 110.63596576
 155.88610859 135.73289711 113.25472082 114.98466821 140.5596233
 166.11715031 104.0396123  147.14177815 115.39428104 131.21624693
 118.9186311  100.6679827  138.3496843  135.63505885 120.50282702
 151.12241321 127.23416247  87.21909602 114.31792665 107.45896054
 127.46507603 122.42874457 106.33963806 160.9567353   88.23442306
 108.66823089 141.57626747 122.26553205 119.12217198 112.63080933
 151.14864253 135.31933025 135.29112327 105.28052962 126.48060428
 104.39974465 140.9106899  129.04066992 136.57332934 144.00127374
 122.50826013  92.69866494 132.01752756 127.97815689 143.45309581
 136.99393148 159.38124761 104.95330191 127.99332281 122.48571292
 111.60412632 181.43207161 116.71940276 161.00643665 160.74153325]

In [25]:
t_statistic, p_value = ttest_1samp(generated_sample, systolic_blood_pressure_world_mean)

In [26]:
print("t-statistic:", t_statistic)
print("p-value:", p_value)

t-statistic: 5.041812307914206
p-value: 2.086331084171209e-06